__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.pdf
uploads/
.env
*.sqlite
*.db
README.md
LICENSE
.vscode/
.idea/
